// 默认值
// 主题颜色
//#9999FF 蓝紫       
//#6667AB 长春花蓝
//#6F6695 淡紫
//#361F3B 暗紫
$accentColor = #6667AB
$textColor = #2c3e50                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #ffffff                  // 悬浮块背景色



//示例修改相关样式f12找到需要修改的地方找到对应class类拿过来直接用就行了
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
  opacity: 1
}

.navbar > .links{
  //#FFC8B4 橙色
  //#F7FED5 浅蓝黄
  //#DDD0C8 灰
  //#CAD8D8 朝白
  background: #CAD8D8
}

.navbar{
  background: #CAD8D8
}




