<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="NorthBoat" content="Performance Analysis System">

	<title>NorthBoat's Performance Analysis System</title>

	<link th:href="@{css/app.css}" rel="stylesheet">
</head>

<body>
<div class="wrapper">
	<!-- 侧边栏 -->
	<div th:replace="~{commons/commons::sidebar(active='main.html')}"></div>

	<!--网页右侧-->
	<div class="main">
		<!-- 头部搜索框 -->
		<div th:replace="~{commons/commons::topbar}"></div>


		<!-- 内容 -->
		<main class="content">
			<div class="container-fluid p-0">

				<!-- 标题 -->
				<div class="row mb-2 mb-xl-3">
					<div class="col-auto d-none d-sm-block">
						<h3><strong>Analytics</strong> Dashboard</h3>
					</div>
				</div>


				<div class="row">
					<!-- 参数 -->
					<div class="col-xl-6 col-xxl-5 d-flex" style="width: 60%;">
						<div class="w-100">
							<div class="row">

								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title mb-4" >参考人数</h5>
											<h1 class="mt-1 mb-3" th:text="${mainInfo.getJoin_num()}"></h1>
										</div>
									</div>
									<div class="card">
										<div class="card-body">
											<h5 class="card-title mb-4">挂科人数</h5>
											<h1 class="mt-1 mb-3" th:text="${mainInfo.getFailed_num()}"></h1>
											<div class="mb-1">
												<span class="text-muted">某一科不及格即为挂科</span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title mb-4">平均分</h5>
											<h1 class="mt-1 mb-3" th:text="${mainInfo.getAverage()}"></h1>
										</div>
									</div>
									<div class="card">
										<div class="card-body">
											<h5 class="card-title mb-4">及格率</h5>
											<h1 class="mt-1 mb-3" th:text="${mainInfo.getNot_failed_percent()}"> %</h1>
											<div class="mb-1">
												<span class="text-muted">
													以满分x0.6为标准
												</span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title mb-4">最高总分</h5>
											<h1 class="mt-1 mb-3" th:text="${mainInfo.getTop_grade()}"></h1>
										</div>
									</div>
									<div class="card">
										<div class="card-body">
											<h5 class="card-title mb-4">理综最高分</h5>
											<h1 class="mt-1 mb-3" th:text="${mainInfo.getTop_science_grade()}"></h1>
										</div>
									</div>

								</div>

								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title mb-4">三科最高分</h5>
											<h1 class="mt-1 mb-3" th:text="${mainInfo.getTop_main_grade()}"></h1>
										</div>
									</div>
									<div class="card">
										<div class="card-body">
											<h5 class="card-title mb-4">文综最高分</h5>
											<h1 class="mt-1 mb-3" th:text="${mainInfo.getTop_liberal_grade()}"></h1>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title mb-4">优秀人数（>=满分x0.8）</h5>
											<h1 class="mt-1 mb-3" th:text="${mainInfo.getGood_num()}"></h1>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title mb-4">优秀率</h5>
											<h1 class="mt-1 mb-3" th:text="${mainInfo.getGood_percent()}"></h1>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- 右侧图表 -->
					<div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3" style="width: 40%;">
						<div class="card flex-fill w-100">
							<div class="card-header">
								<h5 class="card-title mb-0" style="font-size: 19px">成绩分布</h5>
							</div>
							<div class="card-body d-flex">
								<div class="align-self-center w-100">
									<div class="py-3">
										<div class="chart chart-xs">
											<canvas id="chartjs-dashboard-pie" style="height: 300px; margin-bottom: 180px;"></canvas>
										</div>
									</div>

									<table class="table mb-0">
										<tbody>
										<tr>
											<td>良好</td>
											<td class="text-right" th:text="${mainInfo.getJoin_num()}-${mainInfo.getGood_num()}-${mainInfo.getFailed_num()}"></td>
										</tr>
										<tr>
											<td>优秀</td>
											<td class="text-right" th:text="${mainInfo.getGood_num()}"></td>
										</tr>
										<tr>
											<td>不及格</td>
											<td class="text-right" th:text="${mainInfo.getFailed_num()}"></td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</main>

		<!-- 页脚 -->
		<div th:replace="~{commons/commons::footer}"></div>
	</div>
</div>

<script th:src="@{js/app.js}"></script>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		// Pie chart
		new Chart(document.getElementById("chartjs-dashboard-pie"), {
			type: "pie",
			data: {
				labels: ["良好", "优秀", "不及格"],
				datasets: [{
					data: [7,1,1],
					backgroundColor: [
						window.theme.primary,
						window.theme.success,
						window.theme.danger
					],
					borderWidth: 5
				}]
			},
			options: {
				responsive: !window.MSInputMethodContext,
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				cutoutPercentage: 75
			}
		});
	});
</script>

</body>

</html>