<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Post Office</title>
		<link rel="stylesheet" href="icons/css/ionicons.min.css">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="sweetalert/dist/sweetalert.css">
		<link rel="stylesheet" href="css/stisla.css">

		<style>
			body{
				background-color: black;
			}

			#footer p{
				color: white;
			}

			#footer h2{
				color: white;
			}
		</style>
	</head>

	<body>

		<!--导航栏-->>
		<nav class="navbar navbar-expand-lg main-navbar" style="position: fixed; top: 0; background-color: black;">
			<div class="container-fluid">
				<div class="navbar-brand">
				  <h4 style="color: white; font-family: Georgia, 'Times New Roman', Times, serif">
					  <a th:href="@{/druid}" style="color: white; text-decoration: none"><span class="bold">NorthBoat's Post Office</span></a>
				  </h4>
				</div>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="ion-navicon"></i>
					</span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="mr-auto"></div>
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link smooth-link" href="#home">Home</a></li>
						<li class="nav-item"><a class="nav-link smooth-link" href="#manage">Mails Manage</a></li>
						<li class="nav-item"><a class="nav-link smooth-link" href="#send">Send Mails</a></li>
						<li class="nav-item"><a class="nav-link smooth-link" th:href="@{/logout}">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>


		<!--Home页-->>
		<section class="hero bg-overlay" id="home" style="margin-bottom: 49px; margin-top: -49px;">
			<div class="text" style="margin-top: -24px;">
				<p class="lead">Welcome To NorthBoat's Post Office</p>
				<h1><span class="bold">常 </span>联 系 勿 <span class="bold">相 忘</span></h1>
				<div class="cta">
					<a href="#send" class="btn btn-primary smooth-link">Get Started</a>
					<div class="link" style="margin-top: 4%;">
						<a href="https://northboat.github.io/" style="text-decoration: none;">
							love is the one thing that transcends time and space
						</a>
					</div>
				</div>
			</div>
		</section>


		<!--管理页面-->
		<section class="padding bg-grey" id="manage">
			<div class="container">
				<h2 class="section-title" style="margin-top: 3%">Mail Manage</h2>
				<p class="section-lead text-muted">管理已收录的邮件</p>
				<div class="section-body">
					<div class="row col-spacing">

						<div class="col-12 col-md-6 col-lg-4" th:each="p:${postmen}">
							<article class="card">
								<div class="card-body">
								  	<div class="card-subtitle mb-2 text-muted">
										To <span th:text="${p.getMail().getTo()}"></span>
										from <span th:text="${p.getMail().getName()}"></span>
									</div>
							    	<h4 class="card-title"><span th:text="${p.getMail().getSubject()}"></span></h4>
							    	<p class="card-text" th:text="${p.getMail().getText()}"></p>
							    	<div class="text-right">						    	
								    	<a th:href="@{/drop/}+${p.getMail().getNum()}" class="card-more" data-toggle="read" data-id="1">
											<i class="ion-ios-arrow-left"></i>
											删除
											<i class="ion-ios-arrow-right"></i>
										</a>
							    	</div>
						    	</div>
						  	</article>
					  	</div>
					</div>
				</div>
			</div>
		</section>



		<section class="padding bg-grey" id="send" style="margin-top: -4%; padding-bottom: 12%;">
			<div class="container">
				<br><br><h2 class="section-title text-center">Send Mail</h2>
				<p class="section-lead text-center text-muted">Send friends u greetings, which will be sent once a week by u personal postman</p>
				<div class="section-body">				
					<div class="row col-spacing">
						<div class="col-12 col-md-6">
							<h2>stick u message ♂ in their heart</h2>
							<p class="text-muted">这发邮件，多是一件美事呀</p>
						</div>

						<div class="col-12 col-md-6">
							<div class="subscribe">
								<input type="button" class="btn btn-primary" onclick="resetForm()" value="清空">
							</div>
						</div>
						
						<div class="col-12 col-md-5">
							<p class="contact-text">If something wrong happened, please contact me</p>
							<ul class="contact-icon">
								<li><i class="ion ion-ios-telephone"></i> <div>+86 18630338418</div></li>
								<li><i class="ion ion-ios-email"></i> <div>1543625674@qq.com</div></li>
							</ul>
						</div>
						<div class="col-12 col-md-7">
							<form th:action="@{/send}" method="post" class="contact row" id="contact-form">

								<div class="form-group col-6">
									<input type="text" class="form-control" placeholder="Your Name" name="name">
								</div>
								<div class="form-group col-6">
									<input type="email" class="form-control" placeholder="the Email Address u wanna send" name="to" required>
								</div>
								<div class="form-group col-12">
									<input type="text" class="form-control" placeholder="Subject" name="subject" required>
								</div>
								<div class="form-group col-12">
									<textarea class="form-control" placeholder="Text Here" name="text" required></textarea>
								</div>
								<br>
								<div class="form-group col-12 mt-2">
									<button type="submit" class="btn btn-primary">
										Send Message
									</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</section>



		<section class="padding" id="footer">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-4 col-sm-12">
						<div class="list-item">
							<div class="icon">
								<i class="ion-code"></i>
							</div>
							<div class="desc">
								<h2>javax.mail</h2>
								<p>
									萌新踩坑之作，查看更多作品
								</p>
								<a href="http://39.106.160.174:8080/" class="more">learn more</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4 col-sm-12">
						<div class="list-item">
							<div class="icon">
								<i class="ion-social-github"></i>
							</div>
							<div class="desc">
								<h2>Open Source</h2>
								<p>
									toys仓库中有本站源码
								</p>
								<a href="https://github.com/NorthBoat" class="more">learn more</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4 col-sm-12">
						<div class="list-item no-spacing">
							<div class="icon">
								<i class="ion-paintbrush"></i>
							</div>
							<div class="desc">
								<h2>Blog</h2>
								<p>
									本人学习博客，或许有所帮助
								</p>
								<a href="https://northboat.github.io/Blog/" class="more">learn more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script src="js/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script>
			function resetForm(){
				document.getElementById("contact-form").reset();
			}		
		</script>
	</body>
</html>