div{
    display: inline-block;
}

p{
    color: black;
}

a{
    display: block;
    height: 50px;
    width: 100px;
    background-color: black;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
}

h1{
    color: black;
}


#tips{
    height: 500px;
    width: 300px;
    position: absolute;
    top: 150px;
    right: 400px;
}

#app{
    border: 1px solid black;
    height: 700px;
    width: 500px;
    position: absolute;
    left: 600px;
    top: 40px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    overflow: hidden;
}

#wukong {
    /* opacity: 0.1; */
    position: absolute;
    bottom: 0px;
    left: 225px;
}


.cloud{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    background-color: #fff; 
    box-shadow: #fff 65px -15px 0 -5px,#fff 25px -25px, #fff 30px 10px,#fff 60px 15px 0 -10px,#fff 85px 5px 0 -5px; 
    position: absolute;
    top: 430px;
    left: 185px;
}

#hahaha{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    background-color: #fff; 
    box-shadow: #fff 65px -15px 0 -5px,#fff 25px -25px, #fff 30px 10px,#fff 60px 15px 0 -10px,#fff 85px 5px 0 -5px; 
    position: absolute;
    top: 230px;
    left: 40px;
}

#nmsl{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    background-color: #fff; 
    box-shadow: #fff 65px -15px 0 -5px,#fff 25px -25px, #fff 30px 10px,#fff 60px 15px 0 -10px,#fff 85px 5px 0 -5px; 
    position: absolute;
    top: 130px;
    left: 340px;
}